@model EmployeeReportsViewModel
@{
    ViewData["Title"] = "EmployeesIssuedReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .form-control {
            border: 2px solid #5551ff;
            border-radius: 5px;
            height: 50px;
            line-height: normal;
            color: black;
            display: block;
            width: 100%;
            box-sizing: border-box;
            user-select: auto;
            font-size: 16px;
            padding: 0 6px;
            padding-left: 12px;
        }

       .form-control:focus 
       {
         border: 3px solid #5551ff;
       }

    </style>
</head>
<body>
    <br />
    <h5 id="Hader4">Employee Reports</h5>
    <div class="card card-body">
        @using (Html.BeginForm("EmployeesIssuedReports", "Reports", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.employeecode, "Employee Name")
                        @if (ViewData["Employees"] != null)
                        {
                            @Html.DropDownListFor(model => model.employeecode, (IEnumerable<SelectListItem>)ViewData["Employees"], "Select Employee", new { @class = "form-control" })
                        }
                        else
                        {
                            <p>No employees available.</p>
                        }
                        @Html.ValidationMessageFor(model => model.employeecode, "", new { @class = "text-danger" })
                    </div>
                </div>


                </div>
                <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Fetch Reports</button>
                    </div>
                </div>
            </div>
            

        }

    </div>
   <div class="card card-body">
        @if (Model.IssuedMasterList != null && Model.IssuedMasterList.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Issued Date Time</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int sl = 1;
                    }
                    @foreach (var item in Model.IssuedMasterList)
                    {
                        <tr>
                            <td>
                                @sl
                            </td>
                            <td>@(item?.Name ?? "N/A")</td>
                            <td>@(item?.IssuedDateTime?.ToString("dd-MM-yyyy") ?? "N/A")</td>
                            <td>@(item?.Description ?? "N/A")</td>
                            <td>@(item?.Price ?? 0)</td>
                            <td>@(item?.Quantity ?? 0)</td>

                        </tr>
                        sl++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No records found.</p>
        }
   </div>

</body>


